@model MyApplication.ViewModels.Brands.IndexVM
@{
}

<h4>Brands</h4>

<table class="table">
    <tr>
        <th >
            Brand name  
        </th>
        <th >
            Phone number   
        </th>
        <th >
            E-mail  
        </th>
        <th >
            Discount Percent  
        </th>
        <th >
            Allows Returns   
        </th>
        <th >
            Date Of Registration    
        </th>
        <th  colspan="2">
            Actions 
        </th>
    </tr>

    @foreach (var item in Model.Brands)
    {
        <tr>
            <td >
                @item.BrandName
            </td>
            <td >
                @item.PhoneNumber
            </td>
            <td >
                @item.EmailAddress
            </td>
            <td >
                @item.DiscountPercent
            </td>
            <td >
                @item.AllowsReturns
            </td>
            <td >
                @item.RegisteredOn
            </td>

            <td >
                <a href="/Brands/Edit?id=@item.Id" class="text-primary">Edit</a>
            </td>

            <td >
                <a href="/Brands/Delete?id=@item.Id" class="text-danger" method="delete" onclick="return confirm('Delete Brand?');">Delete</a>
            </td>
        </tr>
    }

</table>

<div class="d-flex justify-center">
    <a href="/Brands/Add">Add +</a>
</div>

<h4>Search</h4>

<div class="search-container">
    <form id="searchForm" action="/Brands/Search" method="post">
        <input type="text" id="brandName" placeholder="Search.." name="brandName">
        <button type="submit">Search</button>
    </form>
</div>